.champContainer {
  position: relative;
  width: 100vw;
  height: 100vh;

  background-image: url(/loading.gif);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: 50% 44%;
  background-color: #1f1f1f;
}

.champContainer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-box-shadow: inset 0px 0px 48px 32px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 48px 32px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 48px 32px rgba(0, 0, 0, 1);

  animation: fadeIn 5s ease;
}

.skinsContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.skinsContainer > img {
  width: 100%;
  object-fit: cover;
}

.skinButtonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.skinButtonsContainer > div {
  font-size: 5em;
  margin: 0.2em;

  mix-blend-mode: exclusion;
  color: white;
  text-shadow: 2px 2px 2px black;
  user-select: none;

  transition: 0.3s;
}

.skinButtonsContainer > div:hover {
  cursor: pointer;
}

.skinButtonsContainer > div:active {
  transform: scale(0.95);
}

.champInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #c28f2c;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 5;
}

.champInfo h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 100;

  animation: fadeInFromBottom 2s ease;

  text-shadow: 2px 2px 4px black;
}

.champInfo h3 {
  animation: fadeInFromBottom 3s ease;
  text-shadow: 2px 2px 4px black;
  text-transform: uppercase;
}

.bar {
  background-image: url("https://brand.riotgames.com/images/league-of-legends/decorator-hr.png");
  width: 30%;
  height: 2em;
  background-size: 100%;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: fadeInFromBottom2 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(15%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromBottom2 {
  0% {
    opacity: 0;
    transform: translateY(0%);
    background-size: 10%;
  }
  50% {
    opacity: 0;
    transform: translateY(15%);
    background-size: 10%;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-size: 100%;
  }
}
